RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

# Bloqueia acesso direto as pastas e redireciona o usuario
Options -Indexes
ErrorDocument 403 http://fotosites.com.br